<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<table class="table table-bordered">
<tr>
<th>Type</th>
<th>Count</th>
</tr>
<tr>
  <td>
Products
<td>
<%= @productcount %>
</td>
</tr>
<tr>
  <td>
Catagories
<td>
<%= @catagories %>
</td>
</tr>


</table>