<h1>Admin::Dashboard#show</h1>

<table class="table table-bordered">
<tr>
<th>Type</th>
<th>Count</th>
</tr>
<tr>
  <td>
Products
<td>
<%= @productcount %>
</td>
</tr>
<tr>
  <td>
Catagories
<td>
<%= @catagories %>
</td>
</tr>


</table>